.padd{
  padding: 25px;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    border:0;
    text-decoration:none; 
    outline:none;
    background-repeat: no-repeat;
}
.headtext{
    text-align: center;
    font-size: 4vw;
}
.navDec{
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: black;
  }
.navDec ~ li {
    border-left: 1.8px solid rgb(113, 199, 33);
  }
.linkDec{
    text-decoration:none;
    color: black;
}
.linkDec:focus{
    color:brown;
}
.dropdown:hover .dropdown-content {
    display: block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:brown;
    padding: 12px 16px;
    text-decoration: none;
    border: 0.1px solid rgb(156, 228, 90);
    display: block;
  }